h4{
    background-color: rgb(102, 102, 148);
    color:white;
    text-align: left;
    padding: 10px;
    font-size: 20px;
}
p{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    background-color: rgb(102, 102, 148);
    text-align: left;
    padding:10px;
}

.blog{
    color: white;
}