<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1 id="top">Layout positions</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus cum ex autem sit corporis optio minima asperiores, laborum vitae, id quibusdam dicta ad sequi quia quidem. Aliquam ullam voluptas esse?</p>
    <p>
        <img src="../images/GitHub.jpeg" alt="github" class="relative">
        <img src="../images/GitHub.jpeg" alt="github" class="absolut">
        <a href="#top"><img src="../images/GitHub.jpeg" alt="github" class="fixed" ></a>
    </p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor eos est beatae quasi ipsa temporibus eaque deleniti ipsam provident velit voluptatibus ullam unde, necessitatibus dignissimos? Nostrum sint dicta vitae quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolores id, eum quas dignissimos aperiam nulla esse. Optio assumenda eum soluta quasi, nam non, qui tenetur quas consequuntur magni vitae?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur nam nostrum, fuga aut commodi quod eos dicta facilis laboriosam neque nemo ullam qui. Veniam quae atque placeat iure corporis facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat impedit doloremque non laborum recusandae soluta voluptas dignissimos architecto voluptates. A quia voluptas perspiciatis sequi rerum delectus quod doloremque officia. Magni?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur nam nostrum, fuga aut commodi quod eos dicta facilis laboriosam neque nemo ullam qui. Veniam quae atque placeat iure corporis facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat impedit doloremque non laborum recusandae soluta voluptas dignissimos architecto voluptates. A quia voluptas perspiciatis sequi rerum delectus quod doloremque officia. Magni?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur nam nostrum, fuga aut commodi quod eos dicta facilis laboriosam neque nemo ullam qui. Veniam quae atque placeat iure corporis facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat impedit doloremque non laborum recusandae soluta voluptas dignissimos architecto voluptates. A quia voluptas perspiciatis sequi rerum delectus quod doloremque officia. Magni?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur nam nostrum, fuga aut commodi quod eos dicta facilis laboriosam neque nemo ullam qui. Veniam quae atque placeat iure corporis facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat impedit doloremque non laborum recusandae soluta voluptas dignissimos architecto voluptates. A quia voluptas perspiciatis sequi rerum delectus quod doloremque officia. Magni?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur nam nostrum, fuga aut commodi quod eos dicta facilis laboriosam neque nemo ullam qui. Veniam quae atque placeat iure corporis facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat impedit doloremque non laborum recusandae soluta voluptas dignissimos architecto voluptates. A quia voluptas perspiciatis sequi rerum delectus quod doloremque officia. Magni?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur nam nostrum, fuga aut commodi quod eos dicta facilis laboriosam neque nemo ullam qui. Veniam quae atque placeat iure corporis facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat impedit doloremque non laborum recusandae soluta voluptas dignissimos architecto voluptates. A quia voluptas perspiciatis sequi rerum delectus quod doloremque officia. Magni?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur nam nostrum, fuga aut commodi quod eos dicta facilis laboriosam neque nemo ullam qui. Veniam quae atque placeat iure corporis facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat impedit doloremque non laborum recusandae soluta voluptas dignissimos architecto voluptates. A quia voluptas perspiciatis sequi rerum delectus quod doloremque officia. Magni?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur nam nostrum, fuga aut commodi quod eos dicta facilis laboriosam neque nemo ullam qui. Veniam quae atque placeat iure corporis facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat impedit doloremque non laborum recusandae soluta voluptas dignissimos architecto voluptates. A quia voluptas perspiciatis sequi rerum delectus quod doloremque officia. Magni?</p>

    <hr>

    <ul class="menu">
        <li id="home"><a href="#top">Home</a></li>
        <li>Menu1</li>
        <li>Menu2</li>
        <li>Menu3</li>
    </ul>

    <br>
    <br>
</body>
</html>