body{
    width: 80%;
    font-family: 'Roboto', sans-serif;
    margin: 50px auto;
}
h1{
    font-size: 50px;
    margin-bottom: -20px;
}
h2{
    font-weight: 400;
}

main{
    display: flex;
    flex-wrap: nowrap;
}



header{
    display: flex;
    flex-wrap: nowrap;
}

header img{
    width: 100px;
    margin-right:20px;
}

.about{
    border-right: 2px solid black;
    padding: 15px;
    
}

.post_section{
    padding: 15px;
}
