body{
    width: 95%;
    font-family: 'Roboto', sans-serif;
    margin: 50px auto;
    
}
.left_header{
    width: 25%;
}
header{
    display: flex;
    flex-wrap: nowrap;
    
}

nav{
    margin: auto;
    padding: 0;
    margin-right: 1%;
    width: auto;


}

nav a{
    text-decoration: none;
    padding:10px;
    color:lightskyblue;

}

#Home{
    background-color: lightskyblue;
    color: white;
}

.test{
    background-color: brown;
    border: 1px solid red;
} 

main img{
    display: block;
    max-width: 100%;
    margin: auto;
}

.articals{
    display: flex;
    flex-wrap: nowrap;
}

.articals img{
    width: 200px;
}
