body{
    background-image: url('./img/fudbal-teren-odozgo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 640px;
    height: 470px;
}

img{
    width: 100px;
    position: absolute;
}

#button1{
    background-color: red;
    color: white;
    border:none;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    left: 90%;
    cursor: pointer;

}

#button2{
    background-color: red;
    color: white;
    border:none;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    left: 90%;
    top:50px;
    cursor: pointer;

}